{% extends 'users/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load home_markdown %}

{% block content %}

<!--1. Carousel Section -->
<section class="car">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}" alt="Campus View">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Campus View</h5>
                    <p>Explore the beautiful campus.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}" alt="Student Leadership">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Student Leadership</h5>
                    <p>Empowering the next generation of leaders.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}" alt="Community Service">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Community Service</h5>
                    <p>Making an impact in the community.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="prev-icon" aria-hidden="true">&#8592;</span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="next-icon" aria-hidden="true">&#8594;</span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Styling for Carousel -->
    <style>
        body, html {
            padding-top: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            background-color: #f0f0f0;
        }

        .car {
            margin-top: -150px;
        }

        #carouselExampleControls {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 100%;
            padding-bottom: 0;
        }

        .carousel-inner {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row; 
            padding-bottom: 0;
        }

        .carousel-item img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }

        .prev-icon, .next-icon {
            font-size: 100px;
            color: rgb(255, 187, 0);
            width: 50px;
            height: 40%;
        }

        .prev-icon:hover, .next-icon:hover {
            color: rgb(115, 255, 0);
        }

        .carousel-caption h5 {
            color: rgb(253, 4, 220);
            font-size: 70px;
            margin-top: -70px;
        }

        .carousel-caption p {
            color: white;
        }

    @media (max-width: 768px) {

        body, html {
            padding-top: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
        .car {
            margin-top: 0;
        }

        #carouselExampleControls {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 100%;
            padding-bottom: 0;
        }
        .carousel-item img {
            height: 100%; 
            width: 100%;
        }

        .carousel-inner {
            height: 100%;
            width: 100%;
        }

        .prev-icon, .next-icon {
            font-size: 40px; 
            width: 50px;
            height: 50%;
        }

        .prev-icon:hover, .next-icon:hover {
            color: rgb(115, 255, 0);
        }
    }

        @media (min-width: 769px) and (max-width: 1024px) {
            .carousel-item img {
                height: auto; 
            }

            .prev-icon, .next-icon {
                font-size: 40px; 
                width: 50px;
                height: 40%;
            }

            .prev-icon:hover, .next-icon:hover {
                color: rgb(115, 255, 0);
            }
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var myCarousel = document.getElementById('carouselExampleControls');
            var carousel = new bootstrap.Carousel(myCarousel, {
                interval: 4000,  
                ride: 'carousel' 
            });
        });
    </script>
</section>


<!-- Seminary Portal Section -->
<section>
    <div class="C">

        <div class="e">  
            <div class="container1">
                <h5> Students Login </h5>
                <p> Click here to access the Students Portal</p>
                <a href="{% url 'admission:admission_student' %}" class="bt btn-primary btn-lg">Students Portal</a>       
            </div>

            <div class="container2">
                <h5>Publications</h5>
                <p> Click here to access the University's Publications</p>
                <a href="{% url 'library:index' %}" class="bt btn-secondary btn-lg">Publications</a>
            </div>

            <div class="container3">
                <h5 class="card-title">Course Catalog</h5>
                <p> Click here to access the University's Publications</p>
                <a href="#" class="bt btn-success btn-lg">Explore Courses</a>
            </div>

            <div class="container4">
                <h5 class="card-title">University Calendar</h5>
                <p> Click here to access and view our University's Calendar</p>
                <a href="#" class="bt btn-danger btn-lg">View Calendar</a>
            </div>
        </div>
    </div>

    <style>
        .C {
            width: 100%;
            padding: 20px ;
            padding-bottom: 20px;
        }

        .e {
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-between;            
        }

        .container1, .container2, .container3, .container4 {
            height: 170px;
            width: 280px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            transition: all 0.3s ease-in-out; 
        }

        .container1 {
            border: 2px solid #0082fc;
        }

        .container2 {
            border: 2px solid #262329;
        }

        .container3 {
            border: 2px solid #33af23;
        }

        .container4 {
            border: 2px solid #af2323;
        }

        .container1:hover, .container2:hover, .container3:hover, .container4:hover {
            transform: translateY(-10px); 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .container1 h5, .container2 h5, .container3 h5, .container4 h5 {
            font-size: 18px;
            margin-top: 15px;
            text-transform: uppercase;
            margin-bottom: 0%;
            font-weight: 600;
            color: #00163f;
        }

        .container1 p, .container2 p, .container3 p, .container4 p {
            font-size: 16px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 0%;
            margin-top: 0%;

        }
        .container1 p {
            font-size: 18px;
        }

        .container1 .bt, .container2 .bt, .container3 .bt, .container4 .bt {
            margin-top: 0%;
            padding: 3px 0; 
            border: none;
            background-color: #105aa8;
            width: 100%;
        }

        .container1 .bt:hover {
            background-color: #0082fc;
        }

        .container2 .bt:hover {
            background-color: #262329;
        }

        .container3 .bt:hover{
            background-color: #33af23;
        }

        .container4 .bt:hover{
            background-color: #af2323;
        }

        @media (max-width: 768px) {
            .containers{
                padding: 0 15px; 
            }
            .container1, .container2, .container3, .container4 {
                width: 100%; 
                margin-bottom: 20px;
            }
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            .containers{
                padding: 0 15px; 
            }
            .container1, .container2, .container3, .container4 {
                width: 280px;  
                justify-content: center;
                margin-bottom: 20px;
            }
        }

        @media (min-width: 1024px) and (max-width: 1250px) {
            .containers{
                padding: 0 10px; 
            }

            .container1, .container2, .container3, .container4 {
                width: 280px; 
            }
        }
    </style>
</section>

<div class="Welcome">
    <h1>Welcome to the Consolata International University</h1>
</div>

<style>
    .Welcome h1 {
        color: rgb(7, 50, 63);
        font-size: 50px;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
        text-transform: capitalize;

    }

    @media (max-width : 768px) {
        .Welcome h1 {
            font-size: 35px;
        }
        
    }
</style>


<section>
    <div class="who-are-we">
        <div class="boxes">
            <div class="wordings">
                <h2>WHO ARE WE</h2>
                <hr>
                <h3>BRIEF HISTORY OF THE SCHOOL</h3>
                    <p id="history-text" class="collapsed">
                        The Consolata Missionaries in Kenya, following the directives of the Congregation for the Evangelization of Peoples and the encouragement of the AMECEA Conference (Lusaka 1970), decided to start the construction of their own Seminary. 
                        In 1970 the recruiting of African Candidates for Religious Missionary Priesthood began. 
                        The building of the residence (near to St. Thomas Aquinas Seminary in Langata) was started in 1971 and in 1972 part of it was ready. 
                        The Philosophy students began attending classes at the nearby Kenya National Diocesan Major Seminary, but in 1974 it became necessary to have classes and other facilities for Consolata students, since the Philosophical course of the National Seminary was transferred to Mabanga, in Bungoma District. 
                        Thus a two-year course in Philosophy was set up at Consolata Seminary, ending with the award of a Diploma in Philosophy and Religious Studies. 
                        In order to meet the needs of an increasing number of students both from the Consolata and other Congregations, new buildings were added in 1980 and the curriculum was revised into a 3-year course to prepare for affiliation to Urbaniana University in Rome, 
                        which was granted in 1982, enabling the students to obtain the First Degree in Philosophy (Baccalaureate) recognized by the Church and is in line with other Ecclesiastical Universities all over the world. 
                        In 1996 a decision was reached to make Seminary and Institute of Philosophy two independent institutions so they could better develop each in its own way. A new building for the Institute was erected in 1997 and inaugurated in January 1998. A library has been built in 1999 and a hall added in 2003. 
                        For the information of civil authorities, students and the public at large, it should be clearly understood that the main purpose of our Institute is to prepare candidates for the priesthood and religious life with a view to proceed to theological studies. 
                        Therefore, our B.A. in Philosophy is mainly for ecclesiastical purposes, to qualify the student to enter a Theology College or Seminary for priestly academic formation. 
                        In view of the history, the needs for formation, and future development, the Consolata Institute of Philosophy needs to renew its Affiliation to Urbaniana University.
                    </p>
                <a class="read" id="toggle-button" onclick="toggleReadMore()">Read More</a>
            </div>

            <div class="vertical-line"></div>

            <div class="photo-box">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}" alt="school image">
            </div>
        </div>
    </div>

    <script>
        function toggleReadMore() {
            const content = document.getElementById("history-text");
            const button = document.getElementById("toggle-button");

            if (content.classList.contains("collapsed")) {
                content.classList.remove("collapsed");
                content.classList.add("expanded");
                button.innerHTML = "Show Less";
            } else {
                content.classList.remove("expanded");
                content.classList.add("collapsed");
                button.innerHTML = "Read More";
            }
        }

    </script>

    <style>
        .who-are-we {
            padding: 30px;
        }

        .boxes {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .wordings {
            width: 49%;
            min-width: 300px; 
            margin-bottom: 20px;
            border-bottom: 4px solid #0099cc;
            transition: max-height 0.5s ease-in-out;
        }

    

        .wordings h3 {
            font-size: 30px;
            color: #033c4e;
            margin-bottom: 20px;
            font-weight: bolder;
        }

        .photo-box {
            width: 49%;
            min-width: 300px; 
            height: 498px;
            margin-bottom: 20px;
            border-bottom: 4px solid #0099cc;
            transition: max-height 0.5s ease-in-out;
        }

        .collapsed {
            max-height: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
        }

        .expanded {
            max-height: none;
        }

        .read {
            display: inline-block;
            margin-top: 10px;
            color: #033c4e;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
        }

        .read:hover {
            text-decoration: underline;
        }

        .wordings h2 {
            text-align: left;
            font-size: 30px;
            font-weight: bolder;
            color: rgb(0, 118, 165);
        }

        .wordings hr {
            width: 60%;
            opacity: 0.5;
            left: 0;
            border: 3px solid rgb(0, 62, 119);
            border-radius: 20px;
        }

        .wordings p {
            text-align: justify;
            font-size: 15px;
            padding-right: 20px;
        }

        .read { 
            color: blueviolet;
            text-decoration: none;
        }

        .read:hover{
            color: rgb(0, 118, 165);
        }

        .vertical-line {
            border-left: 2px solid black;
            height: auto;
            min-height: 400px; 
            padding-left: 10px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .photo-box img {
            width: 100%;
            height: auto;
            object-fit: cover; 
        }

        @media (max-width: 768px) {
            .who-are-we {
                padding: 10px;
            }

            .boxes {
                flex-direction: column;
                gap: 10px;
                margin-bottom: 0%;
                padding-bottom: 0%;
            }

            .wordings, .photo-box {
                width: 100%;
                height: auto;
            }

            .wordings p {
                padding:0 5px;
            }

            .vertical-line {
                display: none; 
            }

            .wordings, .photo-box {
                margin-bottom: 20px;
                border-bottom: 0;
            }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            .vertical-line {
                display: none; 
            }

            .wordings, .photo-box {
                width: 100%;
                min-width: auto; 
                margin-bottom: 0;
                border-bottom: 0;
            }

            .boxes {
                gap: 0px;
            }
        }

        @media (min-width: 1025px) and (max-width: 1200px){
            .wordings, .photo-box {
                width: 48%;
                min-width: 300px; 
                height: 510px;
                margin-bottom: 0;
                border-bottom: 3px solid blue;
            }

            .wordings p {
                text-align: justify;
                font-size: 15px;
                padding-right: 30px;
            }
        }
    </style>
</section>

<hr>

<!--2. Two Cards Section -->
<section>
    <div class="two-card-container">
        <div class="card1">
            <p>STUDY</p> 
            <div class="card-links">
                <ul>
                    <li>
                        <a href="#">Undergraduate -> </a>
                        <a href="#">Graduate -> </a>
                        <a href="#">Postgraduate -> </a>
                        <a href="#">Diploma -> </a>
                        <a href="#">Languages-> </a>
                    </li>
                </ul>
            </div>           
            
        </div>

        <div class="card2">
            <p>RESEARCH</p>
            <div class="card-links">
                <ul>
                    <li>
                        <a href="#">Undergraduate -> </a>
                        <a href="#">Graduate -> </a>
                        <a href="#">Postgraduate -> </a>
                        <a href="#">Diploma -> </a>
                        <a href="#">Languages-> </a>
                    </li>
                </ul>
            </div>           
        </div>
    </div>

    <style>
        .two-card-container {
            width: 100%;
            background-image: url('path-to-background-image.jpg'); 
            position: relative;  
        }

        .card1 {
            overflow: hidden;
            position: relative; 
            background: url("{% static 'admin/img/IMG_20240706_132833.jpg' %}");
            background-size: cover;
            background-position: calc(100%);
            width: 400px;
            height: 300px;
            margin-top: 50px;
            margin-left: 300px; 
        }

        .card1::before {
            content: ""; 
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 1; 
        }

        .card2 {
            overflow: hidden;
            position: relative; 
            background: url("{% static 'admin/img/IMG_20240706_132833.jpg' %}");
            background-size: cover;
            background-position: calc(100%);
            width: 400px;
            height: 300px;
            margin-top: -180px;
            margin-left: 600px; 
            z-index: 1000; 
        }

        .card2::before {
            content: ""; 
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 1; 
        }

        .card1 p, .card2 p{
            text-align: start;
            padding-left: 40px;
            padding-top: 20px;
            font-weight: bolder;
            position: relative; 
            z-index: 2; 
            color: white; 
            font-size: 28px; 
        }

        /* Style for the card-links */
        .card-links {
            position: relative;
            z-index: 4;
        }

        .card-links ul {
            list-style-type: none; 
            padding: 0;
            margin: 0;
        }

        .card-links li {
            display: flex;
            flex-direction: column; 
            align-items: start;
            padding-left: 20px;
            z-index: 4;
        }

        .card-links a {
            text-decoration: none;
            color: white;
            font-size: 20px; 
            margin-bottom: 10px; 
            transition: color 0.3s ease, transform 0.3s ease; 
            font-weight: bold;
            z-index: 4;
        }

        .card-links a:hover {
            color: #FFD700; 
            transform: translateX(5px); 
        }

        /* Responsive adjustments for cards */
        @media (max-width: 950px) {
            .two-card-container {
                display: block;
                background-image: url('path-to-background-image.jpg'); 
                position: relative;
                width: 100%;
                padding: 0 20px;
            }

            .card1 {
                width: 100%; 
                height: auto; 
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 0;
            }

            .card2 {
                width: 100%; 
                height: auto; 
                margin-top: 20px; 
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        @media (min-width: 951px) and (max-width: 1024px) {
            .two-card-container {
                display: block;
                background-image: url('path-to-background-image.jpg'); 
                padding: 30px;
            }

            .card1 {
                width: 100%; 
                height: 100%; 
                margin-top: 10px; 
                margin-left: 0px;
                margin-right: 0px;
                overflow: hidden;
                margin-bottom: 40px;
            }

            .card2 {
                width: 100%; 
                height: 100%; 
                margin-top: 5px; 
                margin-left: 0px;
                margin-right: 0px;
                overflow: hidden;
            }
        }

    </style>
</section>

<hr>

<!--3. Study with Us Section -->
<section>
    <div class="stay-with-us-container">
        <h3>Why Join Us</h3>

        <div class="card-one">
            <div class="card-content1">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}" alt="" class="img-content1">

                <div class="body-card">
                    <h2>Vice Chancellor</h2>
                    <p>At Consolata Seminary, we believe in fostering a strong sense of teamwork, service, and integrity through the Scout movement. Our Scouts participate in a variety of activities designed to build skills, promote community engagement, and encourage the values of scouting.</p>
                </div>
            </div>

            <div class="card-content2">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}" alt="" class="img-content2">

                <div class="body-card">
                    <h2>hows are you</h2>
                    <p>At Consolata Seminary, we believe in fostering a strong sense of teamwork, service, and integrity through the Scout movement. Our Scouts participate in a variety of activities designed to build skills, promote community engagement, and encourage the values of scouting.</p>
                </div>
            </div>
        </div>
    </div>

    <style>
        .stay-with-us-container {
            padding: 30px;
            text-align: center;
            margin-bottom: 0px; 
        }

        .stay-with-us-container h3 {
            font-size: 30px;
            color: rgb(0, 118, 165);
            margin-bottom: 20px;
            font-weight: bolder;
            text-transform: uppercase;
        }

        .card-one {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center; 
        }

        .card-content1, .card-content2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 20px;
            width: 100%;
            margin: 0 auto;
        }

        .card-content2 img {
            width: 500px;
            height: 250px;
            padding: 0;
            border-radius: 30px;
        }

        .card-content1 img {
            border-radius: 30px;
            width: 500px;
            height: 250px;
            
        }

        .card-content1 {
            flex-direction: row-reverse; 
        }

        .body-card {
            text-align: center;
            width: 600px;
        }

        .card-content1 h2, .card-content2 h2 {
            font-size: 20px;
            color: #06559e;
            font-weight: bolder;
            text-transform: uppercase;
        }

        .card-content1 p, .card-content2 p {
            font-size: 16px;
            color: #333;
        }

        /* Media Query for smaller screens */
        @media (max-width: 768px) {
            .stay-with-us-container {
                padding: 20px;
            }

            .card-one {
                display: block;
                gap: 20px;
                margin: 0;
                padding: 0;
                align-items: center;
            }

            .card-content1, .card-content2 {
                display: block;
                margin: 0;
                text-align: center;
                gap: 10px;
            }

            .card-content1 img, .card-content2 img {
                width: 100%; 
                height: auto; 
            }

            .body-card {
                max-width: 100%;
                padding-top: 10px;
            }

            .card-content1, .card-content2 {
                padding-left: 0;
                padding-right: 0;
            }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            .stay-with-us-container {
                padding: 20px;
            }

            .card-one {
                display: block;
                gap: 20px;
                margin: 0;
                padding: 0;
                align-items: center;
            }

            .card-content1, .card-content2 {
                display: block;
                margin: 0;
                text-align: center;
                gap: 10px;
            }

            .card-content1 img, .card-content2 img {
                width: 100%; 
                height: auto; 
            }

            .body-card {
                max-width: 100%;
                padding-top: 10px;
            }

            .card-content1, .card-content2 {
                padding-left: 0;
                padding-right: 0;
            }
        }

    </style>
</section>


<!--4. Bright Future -->
<section>
    <div class="b-c">
        <h1>YOUR FUTURE IS BRIGHT</h1>
        <div class="x-t">
            <p> At Consolata Seminary, we believe in fostering a strong sense of teamwork, service,
                and integrity through the Scout movement. 
                Our Scouts participate in a variety of activities designed to build skills, 
                promote community engagement, and encourage the values of scouting.
            </p>     
        </div>
        <div class="x-f">

            <div class="x">
                <h3>HERE WE GO</h3>
                <p>Our Scouts participate in a variety of activities designed to build skills, 
                    promote community engagement, and encourage the values of scouting.</p>
            </div>

            <div class="y">
                <h3>JOIN US</h3>
                <p>Our Scouts participate in a variety of activities designed to build skills, 
                    promote community engagement, and encourage the values of scouting.</p>
            </div>

            <div class="z">
                <h3>EXPLORE MORE</h3>
                <p>Our Scouts participate in a variety of activities designed to build skills, 
                    promote community engagement, and encourage the values of scouting.</p>
            </div>

            <div class="a">
                <h3>LEARN & GROW</h3>
                <p>Our Scouts participate in a variety of activities designed to build skills, 
                    promote community engagement, and encourage the values of scouting.</p>
            </div>

            <div class="b">
                <h3>EMBRACE FUTURE</h3>
                <p>Our Scouts participate in a variety of activities designed to build skills, 
                    promote community engagement, and encourage the values of scouting.</p>
            </div>

            <div class="c">
                <h3>BUILD YOUR LEGACY</h3>
                <p>Our Scouts participate in a variety of activities designed to build skills, 
                    promote community engagement, and encourage the values of scouting.</p>
            </div>

        </div>
    </div>

    <style>
        .b-c {
            width: 100%;
            padding: 60px;
            margin-top: 40px; 
        }
        
        .b-c h1 {
            font-weight: bolder;
            font-size: 28px;
            color: rgb(0, 118, 165);
            text-align: center;
            margin-bottom: 20px;
        }
        
        .x-t p {
            font-size: medium;
            padding-bottom: 20px;
            text-align: center;
        }
        
        .x-f {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
        
        .x, .y, .z, .a, .b, .c {
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
            position: relative;
            background: url("{% static 'admin/img/IMG_20240706_132833.jpg' %}");
            background-size: cover;
            background-position: calc(100%);
            width: 100%;
            height: 300px;
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;  
        }

        .x::before {
            background-color: #00ff9dce; 
        }
        .y::before {
            background-color: #2b9fe2e5; 
        }
        .z::before {
            background-color: #2bcde2da;
        }
        .a::before {
            background-color: #2b89e2da;
        }
        .b::before {
            background-color: #00ff9dce; 
        }
        .c::before {
            background-color: #2bcde2da;
        }
    
        .x h3, .y h3, .z h3, .a h3, .c h3 {
            position: relative;
            top: 90%;
            justify-content: center;
            text-align: center;   
            transform: translate(0);
            font-weight: bolder;
            color: #ffffff;
            opacity: 1;
            z-index: 2;
            transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        }

        .b h3 {
            position: relative;
            top: 90%;
            justify-content: center;
            text-align: center;   
            transform: translate(0);
            font-weight: bolder;
            color: #ffffff;
            opacity: 1;
            z-index: 2;
            transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        }
        
        .x::before, .y::before, .z::before, .a::before, .b::before, .c::before {
            content: ''; 
            position: absolute;
            bottom: 0; 
            width: 100%;
            z-index: 1; 
            left: 0;
            height: 100%; 
            transform: translateY(100%); 
            transition: transform 0.5s ease-out; 
        }
    
        .x:hover::before, .y:hover::before, .z:hover::before, .a:hover::before, .b:hover::before, .c:hover::before {
            transform: translateY(0); 
        }
        
        .x:hover, .y:hover, .z:hover, .a:hover, .b:hover, .c:hover {
            transform: scale(1.05); 
        }
        
        .x:hover h3, .y:hover h3, .z:hover h3, .a:hover h3, .b:hover h3, .c:hover h3 {
            transform: translate(100%); 
            text-align: center;
            position: relative;
            color: #ffffff;
            z-index: 1000; 
            transform: translateY(-680%); 
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
        }
    
        .x p, .a p, .c p,
        .b p, .y p, .z p {
            position: relative;
            z-index: 2; 
            transform: translateY(100%); 
            opacity: 0; 
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
        }
        
        /* Hover effect for text: move from bottom to top and fade in */
        .a:hover p,
        .c:hover p,
        .b:hover p,
        .z:hover p,
        .y:hover p,
        .x:hover p {
            transform: translateY(0); /* Move text up */
            opacity: 1; 
            color: #ffffff;
            z-index: 1000;
        }

        @media (max-width: 1200px) and (min-width: 1025px) {
            .x, .y, .z, .a, .b, .c {
                width: 100%;
                height: 290px;
            }

            .b-c {
            width: 100%;
            padding: 0 40px;
            margin-top: 0px; 
        }
        }
        
        @media (max-width: 1024px) and (min-width: 768px) {
            .b-c {
            width: 100%;
            border-radius: 10px;
            padding: 10px;
            margin-top: 0; 
        }
            .x-f {
                grid-template-columns: repeat(2, 1fr); 
            }

            .x, .y, .z, .a, .b, .c {
                
                height: 280px;
            }
        }
        
        @media (max-width: 768px) {
            .b-c {
            padding: 20px;
            margin-top: 0; 
            
            }

            .x-f {
                display: block;
            }

            .x, .y, .z, .a, .b, .c {
                margin-top: 50px;
                height: 250px;
            }
        }
    </style>
    
</section>


<!--5. OUR SCHOOLS-->
<section>
    <div class="s-c">
        <h2>OUR SCHOOLS</h2>
        <div class="s-row">
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
        </div>

        <hr class="l1">
        <hr class="l2">

        <div class="i">
            <button id="arrow-left" class="arrow-icon" onclick="moveContent(-400)">←</button>
            <button id="arrow-right" class="arrow-icon" onclick="moveContent(400)">→</button>
        </div>
    </div>

    <script>

        const ssRow = document.querySelector('.s-row');

        function moveContent(distance) {
            ssRow.scrollBy({ left: distance, behavior: 'smooth' });
        }
    </script> 

    <style>
        .s-c {
            padding: 40px;
        }

        .s-c h2 {
            font-weight: bolder;
            font-size: 24px;
            color: rgb(0, 118, 165);
            text-align: center;
            margin-bottom: 20px;
        }
  
        .s-row {
            display: flex;
            justify-content: space-between;
            overflow: hidden; 
            flex-direction: row;
            flex-wrap: wrap;
            flex: content;
        }

        .bx {
            border: 1px solid #000000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
            transition: transform 0.3s ease-in-out;
            background: url("{% static 'admin/img/IMG_20240706_132833.jpg' %}");
            background-size: cover;
            background-position: calc(100%);
            width: 100%;
            height: 300px;           
        }

        .bx::before {
            content: ""; 
            position: absolute; 
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 1; 
        }

        .l1 {
            opacity: 0;
            border: 2px solid;
            color: #000000;
            margin-right: 58%;
        }

        .l2{
            opacity: 0;
            border: 2px solid;
            color: #000000;
            margin-left: 58%;
            margin-top: -20px;
        }

        .i{
            display: none;
            justify-content: space-between;
            margin: 0 43%;
            margin-top: -56px;
            position: relative;
        
        }

        .arrow-icon {
            margin-top: 10px;
            color: #000000;
            font-size: 40px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease; 
        }

        .arrow-icon:hover {
            color: #033857;
        }
      

        @media (max-width: 768px) {
            .s-c {
                padding: 10px;
                padding-top: 50px;
            }
            .s-row {
                display: block;
            }
            .bx{
                margin-bottom: 20px;
            }
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            .s-row{
                flex-wrap: nowrap;
                gap: 30px;
            }
            .bx {
                flex: 0 0 48%; 
                margin-bottom: 20px;
            } 

            .l1, .l2 {
                opacity: 1;
            }

            .i {
                display: flex;
                justify-content: space-between;
                margin: 0 43%;
                margin-top: -66px;
                position: relative; 
            }

            .arrow-icon {
                color: #02ff02;
                font-size: 40px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease; 
            }

        }

        @media (min-width: 1024px) {
            .bx {
                flex: 0 0 30%; 
            }
        }
    </style>

</section>


<div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
    <hr class="ll">
    <h3 class="ex">Explore CIU</h3>
    <hr class="rr">
</div>

<style>
    .ll, .rr {
        opacity: 1;
        color: #0099cc;
        width: 40%;       
    }

    .ex {
        color: rgb(4, 94, 129);
        font-size: 18px;
        font-weight: 550;
        white-space: nowrap;
        margin: 0;
    }
</style>

<!--6. Students life Section -->
<section>
    <div class="sc">
        
        <div class="s">
            <div class="st">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}"  class="sl">
                <div class="wr">
                    <h3>Academics</h3>
                    <p>Flexbox Layout for. <br><em>student-body:</em> This makes it easier to control the alignment of images and text. For smaller screens, I set the flex-direction: column; to stack the image and text vertically. For larger screens, the flex-direction: row; keeps them side by side.
                        Padding for .wordings: Added padding inside the .wordings container for spacing between the image and text, making it more responsive.</p>
                </div>
            </div>
            <div class="st">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}"  class="sr">
                
                <div class="wr">
                    <h3>Students' Life</h3>
                    <p>Flexbox Layout for .student-body: This makes it easier to control the alignment of images and text. For smaller screens, I set the flex-direction: column; to stack the image and text vertically. For larger screens, the flex-direction: row; keeps them side by side.
                        Padding for .wordings: Added padding inside the .wordings container for spacing between the image and text, making it more responsive.</p>
                </div>
            </div>
            <div class="st">
                <img src="{% static 'admin/img/IMG_20240706_132833.jpg' %}"  class="sl">
                
                <div class="wr">
                    <h3>Admission Process</h3>
                    <p>Flexbox Layout for .student-body: This makes it easier to control the alignment of images and text. For smaller screens, I set the flex-direction: column; to stack the image and text vertically. For larger screens, the flex-direction: row; keeps them side by side.
                        Padding for .wordings: Added padding inside the .wordings container for spacing between the image and text, making it more responsive.</p>
                </div>
            </div>
        </div>
    </div>

    <style>
        .sc {
            padding: 40px;
            
        }

        .s {
            display: block;
        }

        .st{
            overflow: hidden; 
            padding-bottom: 50px;
        }

        .wr{
            justify-content: center;
            align-items: center;
           
        }

        .st h3 {
            font-size: 28px;
            font-weight: bold;
            color: rgb(0, 118, 165);
            margin-top: 0;
            text-align: center;
        }

        .wr p {
            font-size: medium;
            color: rgb(0, 0, 0);
            text-align: justify;
            padding-left: 20px;
            padding-right: 20px;
        }


        .sl {
            float: left;
            margin-right: 20px; 
            width: 40%; 
            height: auto;
            border-radius: 4px;
        }


        .sr {
            float: right;
            margin-left: 20px; 
            width: 40%; 
            height: auto;
            border-radius: 8px;
        }


        .st::after {
            content: "";
            clear: both;
            display: table;
        }

            
        @media (max-width: 768px) {

            .sc {
                padding: 20px;
            
            }

            .st {
                flex-direction: column; 
                text-align: center;
                padding-bottom: 0;
            }

            

            .sl,
            .sr {
                width: 100%; 
                padding-bottom: 20px;   
            }

            .wr {
                padding: 0;
            }
            
            .st h3 {
                font-size: 1.5rem; 
            }

            .st p {
                font-size: 1rem; 
                text-align: justify;
            }
        }

        
        @media (min-width: 769px) and (max-width: 1024px) {
            .st {
                flex-direction: column; 
                text-align: center;
                padding-bottom: 0;
            }

            .sl,
            .sr {
                width: 100%; 
                padding-bottom: 20px;                
            }

            .wr {
                padding: 0;
            }

            .st h3 {
                font-size: 1.5rem; 
            }

            .st p {
                font-size: 1rem; 
            }
        }
     
    </style>
</section>


<!-- Latest News Section -->
<section>
    <div class="lc">
        <h2> Latest News </h2> 
        
        {% if latest_news %}
        <div class="ns">
            {% for article in latest_news %}
            <div class="ca" onclick="window.location.href='{% url 'blogs:news_detail' article.slug %}'">
                    {% if article.image %}
                        <div class="image">
                            <img src="{{ article.image.url }}" class="img-fluid" alt="{{ article.title }}">
                        </div>
                    {% endif %}
                    
                    <div class="card-text">
                        <h5>
                            <a href="{% url 'blogs:news_detail' article.slug %}">
                                {{ article.title }}
                            </a>
                        </h5>

                        <p class="text-muted">By {{ article.author }} | {{ article.date_added|date:"F d, Y" }}</p>

                   

                        <a href="{% url 'blogs:news_detail' article.slug %}" class="read-more-link">Read More ></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <a href="{% url 'blogs:news_home' %}" class="btn">View all</a>

<style>
    .btn {
        color: white;
        background-color: rgb(0, 118, 165);
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
    }

    .btn:hover {
        color: white;
        background-color: rgb(0, 130, 0);
    }
</style>

        
        <!--<div class="scroll-icons">
            <button id="scroll-left" class="scroll-icon" aria-label="Scroll Left">←</button>
            <button id="scroll-right" class="scroll-icon" aria-label="Scroll Right">→</button>
        </div> -->
    </div>

    <script>

        const scrollLeftBtn = document.getElementById('scroll-left');
        const scrollRightBtn = document.getElementById('scroll-right');
        const newsRow = document.querySelector('.news-row');

        scrollLeftBtn.addEventListener('click', function () {
            newsRow.scrollBy({ left: -300, behavior: 'smooth' });
        });

        scrollRightBtn.addEventListener('click', function () {
            newsRow.scrollBy({ left: 300, behavior: 'smooth' });
        });
    </script>

    <style>
        .lc {
            padding:0 30px;
            padding-bottom: 60px;
            height: auto;
        }

        h2 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 20px;
            color: rgb(0, 118, 165);
            font-weight: bolder;
        }

        .ns {
            display: grid;
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            gap: 20px;
            padding-bottom: 20px;
            overflow: hidden;
        }

        .ca {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgb(0, 118, 165);
            overflow: hidden;
            transition: all 0.3s ease;
            width: auto;
            flex-shrink: 0; /* Prevent shrinking */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .ca:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .ca img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-bottom: 0 solid #ddd;
        }

        .card-text {
            padding: 10px;
            flex-grow: 1;
        }

        .card-text p {
            font-size: 10px;
        }

        .card-text h5 a {
            color: #033857;
            text-decoration: none;
            font-size: 0.8rem;
            font-weight: bold;
        }

        .card-text h5 a:hover {
            color: #0f85c9;
        }

        .read-more-link {
            margin-top: auto;
            font-size: 12px;
            text-decoration: none;
            color: #2b2b2b;
            font-weight: bold;
        }

        .read-more-link:hover {
            text-decoration: none;
            color: #064970;
        }

        .scroll-icons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .scroll-icon {
            color: rgb(0, 0, 0);
            font-size: 40px;
            border: none;
            cursor: pointer;
        }

        /* Media Query Adjustments for Smaller Screens */
        @media (max-width: 768px) {
            .ns {
                display: grid;
                grid-template-columns: repeat(1, minmax(200px, 1fr));
            }            

            .ca {
                width: 100%; 
            }
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            .ns {
                display: grid;
                grid-template-columns: repeat(2, minmax(200px, 1fr));
            }
        }
    </style>

    
</section>



<!-- Featured Leadership Section -->
<section>
    <div class="faculty">
        <h3>Consolata Voices</h3>
        <div class="faculty-row">

            <div class="facultybox">
                <div class="contents">
                    <p> Professor of Theology. Passionate about nurturing a deep understanding of Christian faith and spirituality.</p>
                </div>
            </div>

            <div class="facultybox">
                <div class="contents">
                    <p> Professor of Theology. Passionate about nurturing a deep understanding of Christian faith and spirituality.</p>
                </div>
            </div>

            <div class="facultybox">
                <div class="contents">
                    <p> Professor of Theology. Passionate about nurturing a deep understanding of Christian faith and spirituality.</p>
                </div>
            </div>

            <div class="facultybox">
                <div class="contents">
                    <p> Professor of Theology. Passionate about nurturing a deep understanding of Christian faith and spirituality.</p>
                </div>
            </div>
        </div>
    </div>

    <style>
        .faculty {
            padding: 0 30px;
        }

        .faculty h3 {
            font-weight: bolder;
            font-size: 24px;
            color: rgb(0, 118, 165);
            text-align: center;
            margin-bottom: 20px;
        }
  
        .faculty-row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            justify-content: space-between;
            overflow: hidden; 
            gap: 20px;
        }

        .facultybox {
            border: 1px solid #000000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
            background: url("{% static 'admin/img/IMG_20240706_132833.jpg' %}");
            background-size: cover;
            background-position: calc(100%);
            width: 100%;
            height: 300px;  
            z-index: -1;         
        }

        .contents p {
            font-size: 1em;
            line-height: 1.5;
            text-align: center;
            padding-top: 220px;
            color: #ffffff;
        }

        .facultybox::before {
            content: ""; 
            position: absolute; 
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: -1;  
        }

        @media (max-width: 1200px) and (min-width: 768px) {
            .faculty {
                width: 100%;
                padding: 50px 10px;
            }

            .faculty-row {
                grid-template-columns: repeat(2, 1fr); 
            }

            .contents p {
                padding-top: 240px;
            }
        }
        
        @media (max-width: 768px) {
            .faculty {
                padding: 100px 15px;    
            }

            .faculty-row {
                display: block;       
            }
        
            .facultybox{
                margin-bottom: 20px;
            }

            .contents p {
                padding-top: 250px;
            }
        }
    </style>
</section>
 
<!-- Upcoming Events Section -->
 <section>
    <div class="Events">
        <div class="left">
            <div class="left-header">
                <h2> Media Updates </h2>
            </div>
            
            <div class="left-body" >
                <div class="col-md mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Upcoming Events - 2025</h5>
                            <p>Date: March 15-17, 2025</p>
                            <a href="{% url 'events:event_view' %}" class="btn btn-primary">View Events</a>
                        </div>
                    </div>
                </div>
    
                <!-- Diary Card -->
                <div class="col-md mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Annual Calendar</h5>
                            <p>ACADEMIC YEAR: 2025</p>
                         
                                <a href="{% url 'events:diaries_view' %}" class="btn btn-primary">View Diary</a>
                            
                        </div>
                    </div>
                </div>
                <!-- Portal Card -->
                <div class="col-md mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Portal</h5>
                            <p>Date: February 15, 2025</p>
                            <a href="{% url 'admission:admission_staff' %}" class="btn btn-primary">Lecturer portal</a>
                        </div>
                    </div>
                </div>
                
            </div>

            <a href="{% url 'events:event_view' %}" class="bt">View all</a>
            
        </div>

    
        <div class="right">
            <div class="right-header">
                <h2> Upcoming Updates </h2>
            </div>
            
            <div class="right-body" >
                <div class="col-md mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Upcoming Events - 2025</h5>
                            <p>Date: March 15-17, 2025</p>
                            <a href="{% url 'events:event_view' %}" class="btn btn-primary">View Events</a>
                        </div>
                    </div>
                </div>
    
                <!-- Diary Card -->
                <div class="col-md mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Annual Calendar</h5>
                            <p>ACADEMIC YEAR: 2025</p>
                         
                                <a href="{% url 'events:diaries_view' %}" class="btn btn-primary">View Diary</a>
                            
                        </div>
                    </div>
                </div>
                <!-- Portal Card -->
                <div class="col-md mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Portal</h5>
                            <p>Date: February 15, 2025</p>
                            <a href="{% url 'admission:admission_staff' %}" class="btn btn-primary">Lecturer portal</a>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <a  href="{% url 'blogs:news_home' %}" class="bt">View all</a>

            <style>
                .bt {
                    color: white;
                    background-color: rgb(67, 94, 107);
                    text-decoration: none;
                    padding: 6px 0;
                    border-radius: 5px;
                    display: inline-block;
                    text-align: center;
                }
            
                .bt:hover {
                    color: white;
                    background-color: rgb(0, 130, 0);
                }
            </style>
            
        </div>
    </div>
     <style>
        .Events {
            display: grid;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            gap: 30px;
            padding: 50px 0;
        }

        .right, .left {
            background-color: #d1cfcf49;
            display: block;
        }

        .right .bt, .left .bt {
            display: block;
            margin: 0 40px;
        }

        .right h2, .left h2 {
            font-size: 24px;
            padding-top: 10px;
        }

        .right-body, .left-body {
            background-color: #0099cc23;
            height: auto;
            width: 100%;
        }

        @media (max-width: 768px) {
            .Events {
                grid-template-columns: repeat(1, minmax(200px, 1fr));
            }
        }
     </style>
</section>



<!-- Conditional Member Section -->
{% if user.is_authenticated %}
    <div class="member-section py-5 text-center">
        <h3>Welcome, {{ user.username }}!</h3>
        <p>We are glad to have you as part of the Consolata International University family. Explore your courses and activities!</p>
    </div>
{% else %}
    <div class="guest-section py-5 text-center">
        <h3>Join Us Today!</h3>
        <p>If you're not a member yet, consider registering and becoming part of the Consolata nternational University.</p>
        <a href="{% url 'users:register1_view' %}" class="btn btn-outline-dark btn-lg">Register Now</a>
    </div>
{% endif %}

{% endblock content %}