{% extends 'users/base.html' %}
{% load django_bootstrap5%}
{% load crispy_forms_tags %}
{% load seminary_markdown %}

{% block content %}
  <h1 class="mb-4">Room Details</h1>

  {% if rooms %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Room Number</th>
          <th>Room Owner</th>

        </tr>
      </thead>
      <tbody>
        {% for room in rooms %}
          <tr>
            <td>{{ room.room }}</td>
            <td>{{ room.user }}</td>
        
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No rooms available.</p>
  {% endif %}

  <br>
  <a href="{% url 'seminary:assign_room' %}" class="btn btn-info">Assign a Room</a>
{% endblock %}
