{% extends 'library/home.html' %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="s-container">
    <h2 class="text-center"> Staffs Portal </h2>
    <hr>

    <div class="rcard">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="button1">sign in</button>
            
        </form>
        <button type="submit" class="button2">Forgot password</button>
    </div>
</div>

<style>
    /* Center the container vertically and horizontally */
    .s-container {
        width: 500px;
        margin: 0;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        position: absolute;
        left: 30%;
        right: 35%;
    }

    .s-container h2 {
        margin-bottom: 10px;
    }

    .rcard {
        padding: 15px;
    }

    .button1 {
        margin-top: 10px;
        background-color: rgb(0, 87, 94);
        color: #ddd;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
    }

    .button2 {
        margin-top: 10px;
        background-color: rgb(35, 94, 0);
        color: #ddd;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        float: right;
    }
</style>
{% endblock %}
