{% extends 'users/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Exam Results</h2>

    {% if results %}
        <div class="card">
            <div class="card-body">
                {% for result in results %}
                    <div class="mb-4 p-3 border rounded">

                        <li>
                            <a href="{% url 'studentportal:result_view' result.slug %}">
                                {{ result.title }}
                            </a>
                            <p><strong>Date Added:</strong> {{ result.date_added|date:"F d, Y" }}</p>

                        </li>   
                                                                       
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p class="alert alert-warning">No exam results available.</p>
    {% endif %}

    <a href="{% url 'home:home' %}" class="btn btn-primary">Back Home</a>
</div>
{% endblock content %}